flows.json
[{"id":"c3090efb.4dadc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56d4d7d.0d64928","type":"ui_tab","z":"","name":"Login Page ","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d3595482.34afe8","type":"ui_group","z":"","name":"Bot","tab":"2eb2929b.4b008e","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef4fbfe9.f315e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7eeccf95.6b6c6","type":"ui_group","z":"","name":"Login Form","tab":"56d4d7d.0d64928","order":1,"disp":true,"width":"6","collapse":false},{"id":"2eb2929b.4b008e","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"52129a74.95d004","type":"ui_group","z":"","name":"Reg Form","tab":"c899d361.f0756","order":1,"disp":true,"width":"6","collapse":false},{"id":"c899d361.f0756","type":"ui_tab","z":"","name":"Registration form","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4ad00d34.cffda4","type":"ui_group","name":"Group 1","tab":"c899d361.f0756","order":2,"disp":true,"width":6},{"id":"805ccac3.977188","type":"ui_form","z":"c3090efb.4dadc","name":"","label":"","group":"52129a74.95d004","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":290,"y":200,"wires":[["a43a634c.66129","c8a7e74a.0ee9d8"]]},{"id":"a43a634c.66129","type":"debug","z":"c3090efb.4dadc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"c8a7e74a.0ee9d8","type":"function","z":"c3090efb.4dadc","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["8bffdd77.7f2b4"]]},{"id":"8bffdd77.7f2b4","type":"cloudant out","z":"c3090efb.4dadc","name":"cloudant","cloudant":"","database":"sample","service":"node-red-winue-2020--cloudant-1597480897200-56624","payonly":true,"operation":"insert","x":760,"y":160,"wires":[]},{"id":"2ef8ca19.408e56","type":"ui_form","z":"c3090efb.4dadc","name":"form 2","label":"","group":"7eeccf95.6b6c6","order":0,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["e0e5989f.e79f28"]]},{"id":"bb1ad104.3799a","type":"function","z":"c3090efb.4dadc","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["b6f9286e.a414f8"]]},{"id":"e0e5989f.e79f28","type":"function","z":"c3090efb.4dadc","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":320,"wires":[["bb1ad104.3799a"]]},{"id":"b6f9286e.a414f8","type":"cloudant in","z":"c3090efb.4dadc","name":"sample","cloudant":"","database":"sample","service":"node-red-winue-2020--cloudant-1597480897200-56624","search":"_idx_","design":"user","index":"user","x":560,"y":320,"wires":[["7db0132a.46470c"]]},{"id":"7db0132a.46470c","type":"function","z":"c3090efb.4dadc","name":"","func":"if(msg.payload[0].password==global.get('password')){\n    msg.payload='login successful';\n}\nelse{\n    msg.payload='login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["66dce6f0.5d4b48"]]},{"id":"66dce6f0.5d4b48","type":"ui_text","z":"c3090efb.4dadc","group":"d3595482.34afe8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":320,"wires":[]},{"id":"c6f4c4ab.0190f8","type":"ui_form","z":"c3090efb.4dadc","name":"","label":"","group":"d3595482.34afe8","order":2,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":460,"wires":[["2b00495.eb47eb6"]]},{"id":"2b00495.eb47eb6","type":"function","z":"c3090efb.4dadc","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":460,"wires":[["4f884d93.376b04"]]},{"id":"4f884d93.376b04","type":"watson-conversation-v1","z":"c3090efb.4dadc","name":"","workspaceid":"27f62f68-dedb-4ea5-a8eb-84d59db4a0a1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8eed9f25-c605-4699-bd6b-bc71ca5378f6","timeout":"","optout-learning":false,"x":450,"y":460,"wires":[["165a09af.3d0a86","dbbfcdc8.e88c"]]},{"id":"165a09af.3d0a86","type":"debug","z":"c3090efb.4dadc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"dbbfcdc8.e88c","type":"function","z":"c3090efb.4dadc","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":540,"wires":[["41d34fb0.9968"]]},{"id":"41d34fb0.9968","type":"ui_text","z":"c3090efb.4dadc","group":"d3595482.34afe8","order":3,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":540,"wires":[]}]